@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.title {
  font-weight: 700;
  margin: 0 auto;
  font-size: 50px;
  color: rgba(250, 233, 1, 0.92);
  background-color: #fff;
  width: 30%;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.city-choose {
  margin: 0 auto;
  max-width: 30%;

}

select {
  width: 70%;
  height: 35px;
  border-radius: 60px;
  margin-right: 5%;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  border: none;
}

.start-button {
  width: 25%;
  height: 35px;
  border-radius: 60px;
  cursor: pointer;
  border: none;
  font-size: 25px;
  background-color: rgb(233, 102, 102);
}

